<mat-card class="mat-card-flex">
  <mat-card-header class="justify-content-between">
    <mat-card-title>ÜRÜNLER</mat-card-title>
    <mat-card-subtitle>Toplam ürün: <strong>(5)</strong></mat-card-subtitle>
    <div>
      <button
        mat-icon-button
        color="primary"
        matTooltip="Yeni Ürün Ekle"
        (click)="openProductAddDialog()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <!-- divider -->
  <mat-divider></mat-divider>
  <mat-card-content class="mt-3">
    <!-- product items -->
    <app-product-tile></app-product-tile>
    <app-product-tile></app-product-tile>
    <app-product-tile></app-product-tile>
    <app-product-tile></app-product-tile>
    <app-product-tile></app-product-tile>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
