:host {
    flex: 1;
    display: block;
    height: 100%;

    mat-card {
        height: 100%;
        flex-direction: column;

        mat-card-content {
            flex: 1;
            margin-top: 1rem;
        }

        mat-card-footer {
            text-align: right;
            margin-top: 1rem;
            margin-right: 0;
        }
    }
}