<mat-card class="mat-card-flex">
  <mat-card-header class="justify-content-between">
    <mat-card-title>SEPET</mat-card-title>
    <mat-card-subtitle>Ürün seçerek sepete ekleyin..</mat-card-subtitle>
    <div>
      <button mat-icon-button color="primary" matTooltip="Sipariş Oluştur">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <!-- mat-divider -->
  <mat-divider></mat-divider>
  <mat-card-content>
    <!-- products -->
    <app-cart-product></app-cart-product>
  </mat-card-content>
  <!-- mat-divider -->
  <mat-divider></mat-divider>
  <mat-card-footer>
    <h4>Toplam: 51,5 ₺</h4>
  </mat-card-footer>
</mat-card>
